a {
    font-size: 28px;
    text-decoration: none;
}

#login-container {
    margin: auto;
    width: 80%;
    height: 300px;
}

#login-github-logo {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}

.container-bubble {
    margin-top: 50px;
}