a {
    font-size: 14px;
    text-decoration: none;
}

#login-container {
    margin: auto;
    width: 80%;
    height: 200px;
}

#login-github-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container-bubble {
    margin-top: 40%;
}

.blue-button {
    font-weight: 600;
}

@media only screen and (min-width: 992px) {

    a {
        font-size: 28px;
    }
    
    #login-container {
        height: 300px;
    }
    
    #login-github-logo {
        width: 200px;
        height: 200px;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    
    .container-bubble {
        margin-top: 50px;
    }

    .blue-button {
        font-weight: 500;
    }

}