#game-container {
    width: 180px;
    height: 180px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
}

#time-container {
    width: 75px;
    height: 75px;
    margin-top: 120px;
    font-size: 10px;
    font-weight: 600;
}

#attempts-container {
    width: 75px;
    height: 75px;
    font-size: 10px;
    font-weight: 600;
}  

#game-subtitle {
    padding: 4px;
    padding-top: 0px;
}

.lesser-bubble-text-container {
    margin-top: 5px;
}

.big-bubble-text-container {
    margin-top: 20px;
}

.container-bubble {
    margin: 5px;
    flex-direction: column;
}

#full-game-container {
    display: flex;
    margin: auto;
    margin-top: 35%;
    width: fit-content;
}

.error-text {
    color: rgb(242, 11, 11);
}

.victory-text {
    color: green;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;
    line-height: normal;
    color: black;
    display: block;
    width: 150px;
    box-sizing: border-box;
    user-select: auto;
    font-size: 12px;
    padding: 0 6px;
    padding-left: 12px;
    margin-bottom: 20px;
    text-align: center;
}

input:focus {
    border: 1px solid lightseagreen;
}

input:disabled {
    border: 1px solid green;
}

.blue-button {
    font-size: 14px;
}

@keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
}

.wrong-input-animation {
    animation: shake 0.2s ease-in-out 0s 2;
    border-color: #ff0000;
}

.share-button {
    line-height: 10px;
    margin-top: 30px;
}

#difficulty-input-container {
    margin-top: -10px;
}

#difficulty-input {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 6px;
    text-align: center;
}

@media only screen and (min-width: 992px) {

    #game-container {
        width: 500px;
        height: 500px;
        font-size: 32px;
        line-height: 50px;
        font-weight: 500;
    }
    
    #time-container {
        width: 150px;
        height: 150px;
        margin-top: 350px;
        font-size: 18px;
        font-weight: 500;
    }
    
    #attempts-container {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        font-size: 18px;
        font-weight: 500;
    }  
    
    .lesser-bubble-text-container {
        margin-top: 20px;
    }
    
    .big-bubble-text-container {
        margin-top: 70px;
    }
    
    .container-bubble {
        margin: 10px;
        flex-direction: column;
    }
    
    #full-game-container {
        display: flex;
        margin: auto;
        margin-top: 50px;
        width: fit-content;
    }
    
    input {
        border: 3px solid black;
        height: 50px;
        line-height: normal;
        width: 300px;
        font-size: 20px;
        padding: 0 6px;
        padding-left: 12px;
        margin-bottom: 10px;
    }

    input:focus {
        border: 3px solid lightseagreen;
    }
    
    input:disabled {
        border: 3px solid green;
    }

    .blue-button {
        font-size: 22px;
    }

    .share-button {
        line-height: 10px;
        margin-top: 110px;
    }

    #difficulty-input {
        font-size: 20px;
        padding: 6px 20px;
        border: 3px solid black;
    }
} 