<div class="centered-div" id="full-game-container">
    <div class="container-bubble" id="time-container">
        <div class="lesser-bubble-text-container headings-font">
            <p>Time</p><br>
            <div>{{ (timer | async | date:'mm:ss') || '00:00' }}</div>
        </div>
    </div>
    <div class="container-bubble" id="game-container">
        <div *ngIf="gameStatus !== GameStatusType.STANDBY" class="big-bubble-text-container headings-font">
            <p>Guess The Number!</p>
            <input type="number" (keypress)="($event.charCode >= 48 && $event.charCode < 58)" (keyup.enter)="sendInput();" 
                [(ngModel)]="currentInput" [disabled]="isGameFinished()" [class.wrong-input-animation]="playingErrorAnimation" (animationend)="setPlayingErrorAnimation(false);"/>

            <a *ngIf="!isGameFinished()" class="blue-button" (click)="sendInput();">GUESS!</a>
            <a *ngIf="isGameFinished()" class="blue-button" (click)="playAgain();">Play Again!</a>

            <p *ngIf="this.gameStatus == GameStatusType.LAST_NUMBER_LOWER" class="error-text">TOO LOW!</p>
            <p *ngIf="this.gameStatus == GameStatusType.LAST_NUMBER_BIGGER" class="error-text">TOO HIGH!</p>
            <p *ngIf="isGameFinished()" class="victory-text">YOU WON!</p>
        </div>
        <a *ngIf="isGameFinished()" class="blue-button share-button" [href]="getTelegramShareLink()">Share on Telegram!</a>
        <div *ngIf="gameStatus === GameStatusType.STANDBY" class="big-bubble-text-container headings-font">
            <p>Take a deep breath...</p>
            <p id="game-subtitle">... and start when you are ready!</p>
            <div id="difficulty-input-container">
                <select id="difficulty-input" [(ngModel)]="selectedDifficultyName" [style.borderColor]="getSelectedDifficulty().color">
                    <option *ngFor="let difficulty of difficulties" [value]="difficulty.name">
                        {{difficulty.name}} (1-{{difficulty.maxValue}})
                    </option>
                </select>
            </div>
            <br>
            <a class="blue-button" (click)="startGame();">START!</a>
        </div>
    </div>
    <div class="container-bubble" id="attempts-container">
        <div class="lesser-bubble-text-container headings-font">
            <p>Attempts</p><br>
            <div>{{ this.attempts }}</div>
        </div>
    </div>
</div>