#top-bar {
    background: rgb(253,207,45);
    /* background: linear-gradient(0deg, rgba(253,207,45,1) 0%, rgba(218,221,41,1) 100%); */

    color: white;
    padding: 10px;
}

#top-bar-title {
    font-size: 22px;
    font-weight: 800;
    -webkit-text-stroke: 1px black;
    -webkit-font-smoothing: antialiased;
    color: white;
    text-decoration: none;
}

.top-bar-buttons {
    font-size: 14px;
    font-weight: 800;
    color: blue;
    text-decoration: none;
    margin-left: 15px;
    transition: all .1s ease-in;
}

.top-bar-buttons:hover { 
    color:dodgerblue;
}

#records-container {
    font-size: 14px;
    color: black;
    text-align: center;
}

@media only screen and (min-width: 992px) {

    #top-bar {
        padding: 20px;
        vertical-align: middle;
    }
    
    #top-bar-title {
        font-size: 36px;
        font-weight: 800;
        -webkit-text-stroke: 1.5px black;
    }
    
    .top-bar-buttons {
        font-size: 28px;
        font-weight: 800;
        margin-left: 50px;
    }
    
    #records-container {
        font-size: 20px;
        margin-right: 25px;
        line-height: 25px;
        float: right;
        text-align: left;
    }

}